@using _netmvc.Models
@model List<Book>
@{
    Layout = null;
}

<table>
       
        @foreach (Book book in Model)
        {
            <tr>
                <td>@book.id</td>
                <td>@book.name</td>
                <td>@book.cover</td>
                <a href= @book.cover >click</a>
                <td>@book.entity</td>
            </tr>
        }
        
</table>
<a href="Download/邓小平时代.pdf">
<img src="images/1.jpg" />
</a>